<div class="container p-0 mt-5">
    <div class="row">
        <div class="col-md-12 col-10 offset-1 offset-md-0">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row mt-5">


        {{#each content}}

        <div class="card border-primary mb-4 col-md-3 box-style">
            {{#if this.color}}
            <div class="card-header bg-{{this.color}} text-light">
                {{else}}
                <div class="card-header bg-secondary text-light">
                    {{/if}}
                    header
                    <span style="float:right;">
                        <a href="/view/{{this._id}}"><i class="fa fa-sticky-note-o me-3 text-light"
                                aria-hidden="true"></i></a>
                        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            onclick="clickButton({id:`{{this._id}}`,title:`{{this.title}}`})" data-id={{this._id}}><i
                                class="fa-solid fa-trash text-light"></i>
                        </a>
                    </span>
                </div>
                <div class="overflow-hidden card-body text-{{this.color}}">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text" style="max-height:12rem;overflow:hidden">{{this.content}}</p>
                </div>
                <div class="card-footer text-muted">
                    <p class="card-text bottom-auto"><small class="text-muted">Last updated {{this.date}} ago</small>
                    </p>
                </div>
            </div>
            {{/each}}


        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        are you want to delete <p id="product_title">items</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a href="" type="button" id="confirm-link" class="btn btn-danger">Confirm</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


        <!-- modal end -->
    </div>

    <style>
        .box-style {
            box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.38)
        }
    </style>
    <script type="text/javascript">
        let clickButton = function (data) {
            document.getElementById("product_title").innerText = data.title + " ?";
            document.getElementById("confirm-link").href = "/delete/" + data.id;
        }
    </script>